.searchTerm {
    width: 370px;
    background: #ffffff;
    height:40px;
    border: none;
    font-size: 16px;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.searchButton {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    border: none;
    width:100px;
    font-size: 16px;
    float: left;
    color: #63717f;
}
.opt {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    border: none;
    font-size: 16px;
    float: left;
    color: #63717f;
    width:400px;
}
